.reservation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.reservation-container h2 {
  background-color: teal;
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  padding: 3px;
}

.reservation-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

